<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="[%d{HH:mm:ss.SSS}]%thread-[%level] %logger{36} - %msg%n"/>
    <property name="LOG_FILE_PATH" value="./logs"/>
    <property name="INFO_LOG_FILE_NAME" value="info"/>
    <property name="WARN_LOG_FILE_NAME" value="warn"/>
    <property name="ERROR_LOG_FILE_NAME" value="error"/>

    <!-->console 설정<!-->
    <include resource="console-appender.xml"/>
    <!-->Info log 설정<!-->
    <include resource="file-info-appender.xml"/>
    <!-->warn log 설정<!-->
    <include resource="file-warn-appender.xml"/>
    <!-->error log 설정<!-->
    <include resource="file-error-appender.xml"/>
    <!-->discord webhook<!-->
    <include resource="discord-webhook-appender.xml"/>
    <!-->search-request-file<!-->
    <include resource="file-search-request-appender.xml"/>
    <!-->async-file-appender<!-->
    <include resource="async-file-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="INFO_LOG"/>
        <appender-ref ref="WARN_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
        <appender-ref ref="DISCORD"/>
    </root>
    <logger name="back.ecommerce.common.logging.SearchRequestLogger" additivity="false">
        <Level value="INFO"/>
        <appender-ref ref="ASYNC_APPENDER"/>
    </logger>
</configuration>